<h1>Eccoti una lista degli autori, bastardo</h1>
<ul>
  {% for name in names %}
    <li><a href="{{ url_for('author_page', author_name = name.author_sort) }}">{{ name.author_sort }}</a></li>
  {% endfor %}
</ul>
