<h1>Vediamo cosa sappiamo di {{ book_title }}</h1>
<h2>Un libricino di <a href="{{ url_for('author_page', author_name = book_object.author_sort) }}">{{ book_object.author_sort }}</a></h2>
<span>torna alla <a href="{{ url_for('authors') }}">lista autori</a></span>

<ul>
  {% for file in scaricabili_object_list %}
    <li><a href="{{ url_for('static', filename = 'ebooks/{}/{}.{}'.format(book_object.path, file.name, file.format|lower)) }}">{{ file.format }}</a></li>
  {% endfor %}
</ul>
